
/*顶部*/
#topA {
    min-width: 1000px;
    width: 1000px;
    height: 100px;
    margin: 25px auto;
}

#topA-logo {
    width: 250px;
    height: 100px;
    float: left;
}

#topA-right {
    width: 500px;
    height: 100px;
    float: right;
}

.topA-box {
    width: 125px;
    height: 100px;
    float: left;
    line-height: 95px;
    text-align: center;
    font-size: 17px;
}

    .topA-box a:link {
        color: #000000;
        text-decoration: none;
    }

    .topA-box a:hover {
        color: #5BC0DE;
        text-decoration: none;
    }
/*顶部结束*/

/*主体*/
#pagebody {
    min-width: 1000px;
    width: 1000px;
    margin: 25px auto;
}

    #pagebody a:link {
        color: #000000;
        text-decoration: none;
    }

    #pagebody a:hover {
        color: #5BC0DE;
        text-decoration: none;
    }

#pagebody-A1 {
    width: 1000px;
    height: 270px;
    border: 1px solid #C7CEB2;
    background-color: #FFF;
}

#A1-left {
    width: 500px;
    height: 268px;
    padding: 10px;
    float: left;
    border-right: 1px solid #C7CEB2;
}

#A1-right {
    width: 497px;
    height: 268px;
    padding: 10px;
    float: right;
}

#A1-tab {
    width: 477px;
    height: 248px;
}

/* css 重置 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*css重置结束*/

/*选项卡*/
.tabox {
    width: 477px;
    height: 248px;
}

    .tabox .hd {
        height: 40px;
        overflow: hidden;
        /*background-color: #C7CEB2;*/
    }

        .tabox .hd li {
            position: relative;
            height: 40px;
            line-height: 35px;
            text-align: center;
            width: 159px;
            border-bottom: 2px solid #C7CEB2;
            float: left;
            cursor: default;
        }

            .tabox .hd li.on {
                width: 159px;
                border-bottom: 2px solid #199745;
                color: #199745;
            }

    .tabox .bd {
        height: 208px;
        border-left: 1px solid #C7CEB2;
        border-right: 1px solid #C7CEB2;
        border-bottom: 1px solid #C7CEB2;
    }

    .tabox .lh {
        min-height: 208px;
        padding: 5px 0;
        overflow: hidden;
    }

        .tabox .lh li {
            width: 473px;
            margin: 1px;
            padding: 1px 25px;
            background-color: #F5F5DC;
        }

            .tabox .lh li .p-name {
                height: 25px;
                padding-top: 3px;
            }

.p-name span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
/*选项卡结束*/

#pagebody-A2 {
    width: 1000px;
    height: 50px;
}

#A2-left {
    width: 500px;
    height: 25px;
    padding-top: 15px;
    padding-left: 15px;
    color: #999;
    font: 12px/1.5 'Microsoft Yahei','Simsun';
}

#pagebody-A3 {
    width: 1000px;
    height: 120px;
    border: 1px solid #C7CEB2;
    background-color: #FFF;
}

.A3-box {
    width: 332px;
    height: 119px;
    float: left;
}

.A3-photo {
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 21px;
    margin-left: 21px;
}

.A3-table {
    width: 200px;
    height: 75px;
    float: left;
    margin-top: 21px;
    margin-left: 21px;
}

.BanKuaiTitle {
    width: 100%;
    height: 29px;
}

    .BanKuaiTitle p {
        padding-top: 5px;
        padding-left: 3px;
        font: 16px/1.5 'Microsoft Yahei','Simsun';
    }

.BanKuaiNumber {
    width: 100%;
    height: 23px;
}

    .BanKuaiNumber p {
        padding-top: 3px;
        padding-left: 3px;
        font: 10px/1.5 'Microsoft Yahei','Simsun';
    }

.BanKuaiP {
    width: 100%;
    height: 23px;
}

    .BanKuaiP p {
        padding-top: 1px;
        padding-left: 3px;
        font: 14px/1.5 'Microsoft Yahei','Simsun';
    }

#pagebody-A4 {
    width: 1000px;
    height: 240px;
    margin-top: 25px;
    border: 1px solid #C7CEB2;
    background-color: #FFF;
}

.A4-box {
    width: 332px;
    height: 119px;
    float: left;
}

.A4-photo {
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 21px;
    margin-left: 21px;
}

.A4-table {
    width: 200px;
    height: 75px;
    float: left;
    margin-top: 21px;
    margin-left: 21px;
}
/*主体结束*/
