
body {
    background-color: #F5F5DC;
    margin-top: 63px;
}

/*导航栏*/
#header {
    min-width: 1000px;
    width: 100%;
    height: 38px;
    background-color: #199475;
    position: fixed;
    top: 0;
    z-index: 5555;
}

#header-a {
    width: 1000px;
    height: 38px;
    margin: 0 auto;
}

#header-a-left {
    width: 320px;
    height: 38px;
    float: left;
}

#header-a-left-search {
    margin-top: 4px;
}

#header-a-right {
    width: auto;
    height: 38px;
    float: right;
}

 #header-a-right a{
     color:#fff;
 }

    #header-a-right a:link {
        font-size: 12px;
        color: #FFF;
        text-decoration: none;
    }

    #header-a-right a:hover {
        color: #5BC0DE;
        text-decoration: none;
    }

#homebox, #homebox2, #homebox03, #homebox04 {
    margin-top: 9px;
    width: 38px;
    height: 27px;
    float: left;
}

#UserBox {
    width: auto;
    height: 38px;
    margin-left: 15px;
    float: left;
}

#boxphoto {
    width: 30px;
    height: 30px;
    margin: 4px;
    border: 1px solid #FFF;
    background-image: url('../../images/Tribune/web/defaultPhoto.jpg');
    background-size: contain;
    float: left;
}

#boxname {
    width: auto;
    height: 38px;
    margin-top: 9px;
    margin-left: 5px;
    float: right;
}

/*导航栏结束*/

/*底部*/
#footer {
    min-width: 1000px;
    width: 100%;
    height: 100px;
    background-color: #199475;
}

    #footer a:link {
        font-size: 12px;
        color: #FFF;
        text-decoration: none;
    }

    #footer a:hover {
        color: #5BC0DE;
        text-decoration: none;
    }

#footer-a {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 12px;
    color: #FFF;
}

#footer-aa {
    width: 100%;
    height: 25px;
    font-size: 17px;
    color: #FFF;
}

#footer-bb {
    width: 100%;
    height: 20px;
    margin-top: 5px;
}

#footer-cc {
    width: 100%;
    height: 20px;
    margin-top: 2px;
}
/*底部结束*/
