@model IEnumerable <Model.Succulent>
@{
    
}
@section head{  
  <link href="~/Content/Succulent.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .div-footer{
            background-color:transparent;
        }
        .div-footer .div-middle{
           background-color:transparent;
        }
    </style>
}
<div class="wrap-body">
    <div class="wrap-body-img">   
    </div>
    <div class="wrap-contain">
        <div class="main-contain">
            <div class="top-tool row">
                <ul class="col-md-12">
                    <li><a class="fa fa-star fa-fw"><span>收藏</span></a></li> 
                    <li><a class="fa fa-share-square-o"><span>转发</span></a></li>
                </ul>
            </div>
            <div class="wrap-introduce">
                <dl class="wrap-introduce-title">
                    <dd class="row">
                        <h1 class="col-md-12">碧光环</h1>
                    </dd>
                </dl>
                <div class="wrap-introduce-para row">
                    <p class="col-md-12">
                        碧光环（Monilaria obconica）番杏科碧光环属，原生地位于南非，非常耐旱的多浆植物，喜阴。生长适温15-25度，温度超过35℃整个植株就会慢慢枯萎，进入休眠；气温下降后，浇水即可恢复生长。繁殖方式：播种繁殖和分株繁殖。特别说明：碧光环并不等于枝干番杏，这是两种不同的番杏科植物。
                    </p>
                </div>            
            </div>
            <div class="wrap-mulu row">
                <div class="wrap-mulu-left col-md-6">
                    <h2>目录</h2>
                </div>
                <div class="wrap-mulu-right col-md-6">
                    <ol>
                        <li>
                            <span><a>养殖要点</a></span>
                        </li>
                        <li>
                            <span><a>生长周期</a></span>
                        </li>
                        <li>
                            <span><a>园林应用</a></span>
                        </li>
                        <li>
                            <span><a>图册</a></span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrap-yangzhi">
                <div class="wrap-yangzhi-title">
                    <h2>养殖要点</h2> 
                    <div></div>
                </div>
                <div class="wrap-yangzhi-content">

                </div>
            </div>
            <div class="wrap-shengzhang">
                <div class="wrap-shengzhang-title">
                    <h2>生长周期</h2>
                    <div></div>
                </div>
                <div class="wrap-shengzhang-content"></div>
            </div>
            <div class="wrap-yuanlin">
                <div class="wrap-yuanlin-title">
                    <h2>园林应用</h2>
                    <div></div>
                </div>
                <div class="wrap-yuanlin-content"></div>
            </div>
            <div class="wrap-tuce">
                <div class="wrap-tuce-title">
                    <h2>图册</h2>
                </div>
                <div class="wrap-tuce-content"></div>
            </div>


        </div>
        <div class="side-contain">
            
        </div>
    </div>
</div>
