
@{
    ViewBag.Title = "多肉百科";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/Succulent.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .div-footer {
            background-color: transparent;
        }

            .div-footer .div-middle {
                background-color: transparent;
            }
    </style>
}
<div class="succulent-wrap">
    <div class="succulent-wrap-top">
        <div class="succulent-wrap-top-introduce row">
            <ul>
                <li class="col-md-3"><div class="introduce-contain"><a class="introduce-contain-describe"><span>番杏科</span><img src="~/images/succulent-img/1.png" width="48" height="48"/></a></div></li>
                <li class="col-md-3"><div class="introduce-contain"><a class="introduce-contain-describe"><span>景天科</span><img src="~/images/succulent-img/2.png"  width="48" height="48" /></a></div></li>
                <li class="col-md-3"><div class="introduce-contain"><a class="introduce-contain-describe"><span>仙人掌科</span><img src="~/images/succulent-img/3.png" width="48" height="48" /></a></div></li>
                <li class="col-md-3"><div class="introduce-contain"><a class="introduce-contain-describe"><span>其他科</span><img src="~/images/succulent-img/4.png"  width="48" height="48"/></a></div></li>
            </ul>
        </div>
    </div>
    <div class="succulent-wrap-bottom">
        <div class="succulent-wrap-left row">
        
               <h4>番杏科</h4>
               <p class="col-md-12"> 
                  &nbsp; &nbsp; &nbsp;番杏科是双子叶植物纲，石竹目的一个科，约有138属，1882种。一年生或多年生草本或矮灌木，番杏科植物主要分布在非洲南部，在澳洲和中太平洋地区也有少量分布。 我国有粟米草属、针晶粟属、海马齿苋属、肖海马齿苋属、番杏属等少数种。常见栽培的有广义的龙须海棠属植物。 有些植物学家主张将番杏属和 Tribulocarpus 这二个属由番杏科分出，另外成立一个科 Tetragoniaceae。 约130属1 200种，主产非洲南部，其次在大洋洲，有些分布于全热带至亚热带干旱地区，少数为广布种。我国有7属，约15种，其中1属，约5种栽培。
                  一年生或多年生草本或矮灌木，叶对生，或互生，常单叶，肉质，或退化为鳞片，常无托叶。花两性，整齐，单生，或为腋生二歧聚伞花序或顶生单枝聚伞花序，花被1轮 ，由4～5分离或结合的革质、绿色萼片所成。雄蕊 基本5 数，但常分裂为多数，最外方的常不孕而为花瓣状，花丝分离或合成几束，或基部结成单体；雌蕊基本由 3～5心皮结合而成 ，子房上位或下位，1～5室（偶达20室）。每室胚珠有多数、稀一个，倒生或弯生。蒴果或浆果状。
              </p>
        </div>
        <div class="succulent-wrap-right">
            <div class="succulent-wrap-right-img row">
                <ul>
                    <li class="col-md-4"><div class="div-img"><img class="mark" src="~/images/mark.png" /><span class="mark-span">千代田之松</span><a class="a-img"><img src="~/images/Succulent/feihuayu.jpg" /></a></div></li>
                    <li class="col-md-4"></li>
                    <li class="col-md-4"></li>
                </ul>
            </div>
            <div class="row succulent-wrap-right-img">
                <ul>
                    <li class="col-md-4"></li>
                    <li class="col-md-4"></li>
                    <li class="col-md-4"></li>
                </ul>
            </div>
            <div class="row succulent-wrap-right-img">
                <ul>
                    <li class="col-md-4"></li>
                    <li class="col-md-4"></li>
                    <li class="col-md-4"></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>

