@model Model.Address
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditAddress</title>
    <link href="~/css/loginDialog.css" rel="stylesheet" />

</head>
<body>

    @using (Html.BeginForm("EditAddress", "Goods", FormMethod.Post))
    {
    <div id="LoginBox">
        <div class="title">
            <div class="xiugai">修改地址</div> <a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
        <div id="city_4" class="xuanze">
            <select class="prov" id="prov4" data-code="220000" name="province4"></select>
            <select class="city" id="city4" data-code="220100" name="city4"></select>
            <select class="dist" id="area4" data-code="220104"></select>
        </div>
        <div class="Detail">
            <div class="xiangxi">详细地址</div>
            <div class="box"><textarea cols="40" rows="2" name="DetailAdd"></textarea>           
            </div>
        </div>
        <div class="moren">
            <div class="dizhi"><span>是否默认地址：</span></div>
            <div class="radio">
                <input type="radio" value="1" name="xuanze1" />是&nbsp;&nbsp; <input type="radio" value="2" name="xuanze1" checked="checked" />否
            </div>
        </div>
        <div class="row">
            @*<a href="#" id="loginbtn">确认</a>*@
            <input type="submit" id="loginbtn" value="确认" />
        </div>
    </div>
    }
</body>

</html>
<script>

			var selectVal = new CitySelect({
				data   : data,
				provId : "#prov4",
				cityId : '#city4',
				areaId : '#area4'
			});
</script>

<script type="text/javascript">
	$(function ($) {
	   // 弹出修改框
	    $("#example").hover(function () {
			$(this).stop().animate({
				opacity: '1'
			}, 600);
		}, function () {
			$(this).stop().animate({
				opacity: '0.6'
			}, 1000);
		}).on('click', function () {
			$("body").append("<div id='mask'></div>");
			$("#mask").addClass("mask").fadeIn("slow");
			$("#LoginBox").fadeIn("slow");
	    });

		//
		//按钮的透明度
		$("#loginbtn").hover(function () {
			$(this).stop().animate({
				opacity: '1'
			}, 600);
		}, function () {
			$(this).stop().animate({
				opacity: '0.8'
			}, 1000);
		});
		//关闭
		$(".close_btn").hover(function () { $(this).css({ color: 'black' }) }, function () { $(this).css({ color: '#999' }) }).on('click', function () {
			$("#LoginBox").fadeOut("fast");
			$("#mask").css({ display: 'none' });
		});
	});
</script>

