@model Model.Address
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/ShopMall.cshtml";
}
<script src="~/js/city2.js"></script>
<script src="~/js/citySelect2.js"></script>


<h2>edit</h2>
@using (Html.BeginForm("edit", "Goods", FormMethod.Post))
{
    <div id="city_4" class="xuanze">
        <select class="prov" id="prov4" data-code="220000" name="province4"></select>
        <select class="city" id="city4" data-code="220100" name="city4"></select>
        <select class="dist" id="area4" data-code="220104"></select>
    </div>

    <div class="Detail2">
        <div class="xiangxi2">详细地址</div>
        <div class="box2">@*<textarea cols="40" rows="2" name="detailAddr"></textarea>*@
        @Html.TextAreaFor(model=>model.AddressDetail);
        </div>
    </div>
        <div class="moren2">
            <div class="dizhi2"><span>是否默认地址：</span></div>
            <div class="radio2">
                <input type="radio" value="1" name="xuanze" />是&nbsp;&nbsp; <input type="radio" value="2" name="xuanze" checked="checked" />否
            </div>
        </div>
        <div class="row2">
            @*<a href="#" id="loginbtn2">确认</a>*@
            <input type="submit" id="loginbtn2" value="确认" />
        </div>
}


<script>

			var selectVal = new CitySelect({
				data   : data,
				provId : "#prov4",
				cityId : '#city4',
				areaId : '#area4'
			});
			var selectVa2 = new CitySelect({
			    data: data,
			    provId: "#prov5",
			    cityId: '#city5',
			    areaId: '#area5',
			    isSelect: false
			});


</script>

