
@{
    ViewBag.Title = "JieSuan";
    Layout = "~/Views/Shared/ShopMall.cshtml";
}
<link href="~/css/JieSuan.css" rel="stylesheet" />

<div class="Address">
    <div class="biaoti"><h2>选择收货地址</h2></div>
    <div class="ZQ-Address">
        <ul>
            <li>
                <div class="first-li">江西<b>南昌</b><span>（陈文凯 收）</span> </div>
                <div class="second-li">南昌昌东镇（南昌高新开发区）江西师范大学瑶湖校区学...15170491053</div>
                <div class="third-li"><a>修改</a><a>删除</a></div>
            </li>
            <li>
                <div class="first-li">江西<b>南昌</b><span>（陈文凯 收）</span> </div>
                <div class="second-li">南昌昌东镇（南昌高新开发区）江西师范大学瑶湖校区学...15170491053</div>
                <div class="third-li"><a>修改</a><a>删除</a></div>
            </li>
            <li>
                <div class="first-li">江西<b>南昌</b><span>（陈文凯 收）</span> </div>
                <div class="second-li">南昌昌东镇（南昌高新开发区）江西师范大学瑶湖校区学...15170491053</div>
                <div class="third-li"><a>修改</a><a>删除</a></div>
            </li>
            <li>
                <div class="first-li">江西<b>南昌</b><span>（陈文凯 收）</span> </div>
                <div class="second-li">南昌昌东镇（南昌高新开发区）江西师范大学瑶湖校区学...15170491053</div>
                <div class="third-li"><a>修改</a><a>删除</a></div>
            </li>
        </ul>
    </div>
    <div class="control"><a>管理收货地址</a></div>
</div>
<div class="Order-Good">
    <div class="biaoti2"><h2>确认订单信息</h2></div>
    <div class="catbox">
        <table>
            <thead>
                <tr>
                    <th>商店宝贝</th>
                    <th>商家</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="goods">
                        <img src="~/images/7.jpg" />
                        <a>壹分皿复古青花瓷花盆</a>
                    </td>                  
                    <td class="shop"><a>壹分皿多肉旗舰店</a></td>
                    <td class="price">12.9</td>
                    <td class="count-input">1</td>
                    <td class="subtotal">12.9</td>
                </tr>
                <tr>
                    <td class="goods">
                        <img src="~/images/7.jpg" />
                        <a>壹分皿复古青花瓷花盆</a>
                    </td>
                    <td class="shop"><a>壹分皿多肉旗舰店</a></td>
                    <td class="price">12.9</td>
                    <td class="count-input">1</td>
                    <td class="subtotal">12.9</td>
                </tr>
                <tr>
                    <td class="goods">
                        <img src="~/images/7.jpg" />
                        <a>壹分皿复古青花瓷花盆</a>
                    </td>
                    <td class="shop"><a>壹分皿多肉旗舰店</a></td>
                    <td class="price">12.9</td>
                    <td class="count-input">1</td>
                    <td class="subtotal">12.9</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

