@model IEnumerable<Model.Shops>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopTopImage</title>
    <style>
        .Top-img{
    margin-top:0;
    width:100%;
    height:100px;
}
.Top-img img{
    width:100%;
    height:100px;
   
}
    </style>
</head>
<body>
   @foreach(var p in Model)
   { 
    <div class="Top-img">
        @*<img src="~/images/Shops/壹分皿商标图.jpg" />*@
        <img src="@p.TopImage" />
    </div>
   }
</body>
</html>
