body {
    
}

.publish_wrap{
    background:url('../images/bg2.jpg') no-repeat;
    background-size:100% 100%;
    width:100%;
    margin:0 auto;
}
.publish_wrap form{
   width:80%;
    display:block;
    margin:6% auto;
    text-align:center;
}
.publish_txt{
    width:80%;
    margin:0 auto;
    padding-top:5%;
    padding-bottom:5%;
}
.btn {
    background: #5cb85c;
    border-radius: 0px;
    color: #ffffff;
    margin-top: 40px;
    width:300px;
	padding: 12px 22px;
    transition: all 0.4s ease-in-out;  
}
.btn:hover {
    background: #0c7133;
}