@charset "utf-8"
body{
	font-family:yahei;
	min-width: 1300px;
}
a:hover{
	text-decoration: none;
}
.header{
	width:100%;
	height:100px;
	background-color:rgba(255,255,255,1);
	box-shadow:0px 5px 2px rgba(207,207,207,0.3);
}
.Logo{
	margin-left:10%;
}
.Logo a:hover{
	text-decoration:none;
}
.Logo span{
	font-size: 26px;
	font-family: "方正兰亭超细黑";
	font-weight: 400;
	color: rgba(54,54,54,0.7);
	margin-left: 5%;
	margin-top: -5%;
}
.header p{
	float: left;
	font-size: 18px;
	margin-left: 80%;
	margin-top:-2.5%;
	color: rgba(54,54,54,0.7);
}
.main{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.main form{
	width: 25%;
	margin:150px auto;
}
.main form input{
	height: 50px;
	font-size: 18px;
}
.main form label{
	font-size: 18px;
}
.shenfen{
	display:none;
	width: 100%;
	height: 300px;
	background-color: red;
}

/*选择方式页面*/
.SelectWays{
	width: 40%;
	height: auto;
	margin:0 auto;
	margin-top: 10%;
}
.SelectWays h5{
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.SelectWays .Ways{
	width: 100%;
	height: 80px;
	background-color: rgba(232,232,232,0.2);
	border-radius: 5px;
	border: 1px rgba(207,207,207,0.5) solid;
	margin-top: 10px;
	transition: ease-out 0.5s;
}
.SelectWays .Ways:hover{
	background-color: transparent;
	border: 1px rgba(207,207,207,0.3) solid;
	transition: ease-in 0.2s;
}
.SelectWays .Ways a{
	text-decoration:none;
	color: #000;
}
/*.SelectWays .Ways a:hover{
	text-decoration:none;
}*/
.SelectWays .Ways i{
	float: left;
	font-size: 50px;
	line-height: 80px;
    color:rgba(54,180,123,0.8);
	margin-left: 2%;
    margin-top:-1.5%;
}
.SelectWays .Ways .arrow{
	float: left;
	font-size: 30px;
	font-weight: 50;
	line-height: 80px;
	color: rgba(207,207,207,0.5);
}
.SelectWays .Ways .Ways_txt{
	width: 75%;
	height: 100%;
	float: left;
	margin-left:6%;
}
.SelectWays .Ways .Ways_txt p{
	font-size: 20px;
	padding-top: 3%;
	font-weight: bold;
	opacity: 0.9;
}
.SelectWays .Ways .Ways_txt span{
	display: block;
	margin-top: -5%;
	font-size: 14px;
}

/*密保问题验证页面*/
.main .QuestionBox{
	width: 40%;
	height:300px;
	margin:0 auto;
	margin-top: 5%;
}
.main .QuestionBox form{
	width: 100%;
	padding-top: 5%;
}
.main .QuestionBox input{
	height: 50px;
}
.main .QuestionBox label{
	line-height: 30px;
}

/*邮箱验证页面*/
.main .EmailBox{
	width: 40%;
	height:300px;
	margin:0 auto;
	margin-top: 5%;
}
.main .EmailBox form{
	width: 100%;
	padding-top: 5%;
}

/*手机号验证页面*/
.main .PhoneBox{
	width: 25%;
	height:300px;
	margin:0 auto;
	margin-top: 5%;	
}
.main .PhoneBox form{
	width: 100%;
}

/*重置密码页面*/
.main .ResetBox{
	width: 35%;
	height:300px;
	margin:0 auto;
	margin-top: 5%;	
}
.main .ResetBox form{
	width: 100%;
}
.main .ResetBox .row span{
	 height:50px;
	 line-height: 50px;
	 border-right: transparent;
	 background: #fff;
	 font-size: 16px;
}