
.category{
    margin-top:55px;
}
.category .container .title-introduce{
    text-align:center;
    line-height:50px;
}
.category .container .title-introduce img{
    margin-left:36.5%;
}


/* start overlay */
.overlay 
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.7);
    } 
/* end overlay */

/* start home */        
#home span
    {
		display:block;
		font-weight:100;
        font-size: 48px;
        line-height: 1em;
        letter-spacing: 2px;
        padding-top: 10px;
		margin-bottom:50px;
		font-family:"HelveticaNeueLT Pro 35 Th";
    }
.search_form .inpu_txt {
    position:relative;
    margin: 0 auto;
    padding: 0 10px;
    width: 650px;
    height: 40px;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 2px;
    color: #fff;
    background: rgba(0,0,0,.15);
    letter-spacing:3px;
}
.search_form .go {
    position: absolute;
    left:68%;
    top:55%;
    display: block;
    width: 40px;
    height: 36px;
    cursor: pointer;
    font-size: 15px;
    line-height:36px
}

.fixed_form{
        width:35%;
        position:fixed;
        top:0;
        left:22%;
        z-index:99999;
}

.templatemo_homewrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.flexslider {
    margin: 0 0 60px;
    padding: 0;
    position: relative;
    zoom: 1;
    /*background-color: #371604;*/
    background-color:transparent;
    overflow: hidden;
    margin: 0;
    text-align: center;
}
.flexslider .slides {
    padding: 0;
    zoom: 1;
}
.flexslider .slides img {
    width: 100%;
    min-width: 648px;
    min-height: 270px;
    display: block;
}
.flexslider .slides > li {
    display: none;  
    padding: 0;
    position: relative;
    -webkit-backface-visibility: hidden;
}
.flexslider img {
    position: relative;
    width: 100%;
}
.slider-caption {
    color:white;
    margin: 0;
    position: absolute;
    top: -20px;
    left: 0;
    text-transform: uppercase;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#home span
{
    -ms-animation: moveDown 0.45s ease-in-out 0.2s backwards;
     -moz-animation: moveDown 0.45s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.45s ease-in-out 0.2s backwards;
    -webkit-animation: moveDown 0.45s ease-in-out 0.2s backwards;
    animation: moveDown 0.45s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown{
    0%{
        transform:translateY(-40px);
        -o-transform:translateY(-40px);
        -moz-transform:translateY(-40px);
        -ms-transform:translateY(-40px);
        -webkit-transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        -webkit-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -moz-transform:translateY(0px);
        transform:translateY(0px);
        opacity: 1;
    }
}
@-moz-keyframes moveDown{
    0%{
        transform:translateY(-40px);
        -o-transform:translateY(-40px);
        -moz-transform:translateY(-40px);
        -ms-transform:translateY(-40px);
        -webkit-transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        -webkit-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -moz-transform:translateY(0px);
        transform:translateY(0px);
        opacity: 1;
    }
}
@-ms-keyframes moveDown{
    0%{
        transform:translateY(-40px);
        -o-transform:translateY(-40px);
        -moz-transform:translateY(-40px);
        -ms-transform:translateY(-40px);
        -webkit-transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        -webkit-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -moz-transform:translateY(0px);
        transform:translateY(0px);
        opacity: 1;
    }
}
@-o-keyframes moveDown{
    0%{
        transform:translateY(-40px);
        -o-transform:translateY(-40px);
        -moz-transform:translateY(-40px);
        -ms-transform:translateY(-40px);
        -webkit-transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        -webkit-transform:translateY(0px);
        -o-transform:translateY(0px);
        -ms-transform:translateY(0px);
        -moz-transform:translateY(0px);
        transform:translateY(0px);
        opacity: 1;
    }
}
/* end home */
.div-succulent{
    margin-top:-20px;
}

.category{
width:100%;
height:auto;
}

.category .welcome .container{
    margin-top:30px;

}
.category .welcome .contain-img{
    margin:0 auto;
    margin-top:-15px;
}
.agileits_w3layouts_head{
 font-size: 20px;
 font-weight:700;
}
.agile_para{
 font-size: 14px;
 font-weight: 500;
 line-height:30px;
 letter-spacing: 2px;

}

.category .succulent-img{   
  margin-top:50px;
}

.category .category-content{
	width:94%;
	margin-left:3%;  
	}
.category .category-content .category-content-contain{
	width:100%;
    height:480px;
    margin-top:30px;
    padding-top:40px;
    border:1px solid red;
	}
.little-title{
    margin-left:8px;
    cursor: pointer;
    letter-spacing: 2px;
	font-size:18px;
	color:rgba(51,153,51,1);
	}
.little-title:hover{
    text-decoration: none;
    outline: none;
}
.little-title:hover{
	color:rgba(51,153,51,1);
	}
.left{
	border-right:solid #DBDBDB 1px;
	}
.left .left-content{
		width:94%;
		height:95%;
		margin-top:3%;
		margin-left:3%;
	    background:red;
		}
.left-content img{
        width:100%;
		height:100%;
	}
	
	
.left-content #container {
			width: 100%;
			height: 100%;
			overflow: hidden;
	}
	.sections,.section {
		height:100%;
	}
	#container,.sections {
		position: relative;
	}
	.section {
		background-color: #000;
		background-size: cover;
		background-position: 50% 50%;
		text-align: center;
		color: white;
	}

		
	.right-middle{
		margin-top:1%;
        margin-bottom: 1%;
        border-bottom: transparent;
		}
	.right-middle-2{
		border-bottom:solid  transparent 1px;
		}
	.little{
		border-right:solid   #DBDBDB 1px;
		}
		
		
	.little	.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(232,232,232,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin-top:45%;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
		
		
	.little img{
		width:100%;
		height:100%;
		}
.little .image{
	width:40%;
	height:70%;
	border-radius:100%;
    margin-top:6%;
	}
.know{
	width:55%;
	height:80%;
	margin-top:8%;
	
	float:right;
	}	
	.know h5{
		width:100%;
		height:30%;
		margin:0;
		
		}
	.know p{
		font-size:12px;
		height:70%;
		width:100%;
		margin-top:0px;
		opacity:0.5;
		}

/* start service */
#service
    {
        background: #ffffff;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#service .media
    {
        padding: 10px;
    }
#service .media .fa
    {
        color: #55acee;
        font-size: 60px;
        margin-right: 20px;
        width: 65px;
        height: 65px;
    }
#service .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end service */

/* start divider */
.divider
    {
        background: url('../images/divider-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #ffffff;
        text-align: center;
    }
.divider .divider-des
    {
        padding: 100px 15px;
    }
/* end divider */

/* start about */
h3.about-title {
    margin-top: 0;
}
#about
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }
#about .progress
    {
        background: #f9f9f9;
        box-shadow: none;
        border-radius: 0px;
    }
#about .progress .progress-bar-danger
    {
        background: #55acee;
    }
#about span
    {
        display: block;
        margin-top: 12px;
        margin-bottom: 6px;
    }
#about .about-wrapper
    {
        background: #ffffff;
        box-shadow: 0px 8px 2px 2px rgba(50,50,50, 0.08);
        margin-top: 60px;
        margin-bottom: 20px;
        max-width: 500px;
        padding: 20px;
    }
#about .about-wrapper h3
    {
        color: #55acee;
        font-size: 20px;
        font-weight: bold;        
    }
/* end about */

/* start portfolio */
#portfolio
    {
        background: #fff;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding-top: 0px;
        padding-bottom: 50px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background-color:rgba(153,204,153,0.7);
        color: #ffffff;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 0.9;
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
        transition: all 0.3s ease;
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa:hover {
    background: #55acee;
    border-color: #55acee;
}
#portfolio .portfolio-thumb .portfolio-overlay h4
    {
        padding-bottom: 10px;
    }
    .portfolio-description {
        padding-left: 15px;
        padding-right: 15px;
    }
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
    transition: all 0.3s ease;
}
.filter-wrapper li:hover {
    background: #55acee;
}
.filter-wrapper li:hover a {
    color: #fff;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */

/* start contact */
#contact
    {   margin-top:50px;
        background: #ffffff;
        padding-top:80px;
        padding-bottom:80px;
    }
#contact .form-control
    {
        background: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 1px solid #CCC;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
    }
 #contact .overlay{
    overflow: hidden;
    background:#ececec;
   opacity: 0.7;
 }

   #contact .overlay h3,
 #contact .overlay button{
    color: #000000;
    opacity: 0.7;
  }
  #contact .overlay button{
    font-size: 15px;
    font-weight:500;
  }
  #contact .overlay button:hover{
    background: #a0d034;
  }

#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        border: 2px solid #55acee;
        font-weight: bold;
		color: #55acee;
    }
#contact input[type="submit"]:hover
    {
        background: #55acee;
		color: #fff;
    }
/* end contact */
