.SearchMain .SearchBody a{
    color:#000;
    text-decoration:none;
}
.SearchMain .SearchBody a:hover{
    text-decoration:none;
    color:rgba(94,185,94,1);
}


.SearchMain{
    width:100%;
    height:auto;
    margin-top:90px;
}

.SearchMain .SearchHead{
    width:80%;
    height:150px;
    text-align:center;
    margin:0 auto; 
    border-bottom:5px solid #3eba20;
    position:relative;
}
.SearchMain .SearchHead h1{
    font-family:'隶书';
    font-size:30px;
}
.SearchMain .SearchHead .SearchForm{
    width:100%;
    height:100px;
    /*background-color:rgba(62,186,32,0.5);*/
}
.SearchMain .SearchHead .SearchForm .Searchtxt{
    float:left;
    margin-top:3%;
}
.SearchMain .SearchBody{/*搜索结果内容主体*/
    width:80%;
    height:auto;
    margin:20px auto; 
}

.SearchMain .SearchBody .Search_Result{/*结果框*/
    float:left;
    width:70%;
}
.SearchMain .SearchBody .Search_Result .Baike_Item{/*百科结果项*/
    display:inline-block;
    width:40%;
    height:100px;
    margin-left:8%;
    margin-bottom:2%;
    overflow:hidden;
    box-shadow:rgba(0,0,0,0.1) 2px 1px 1px 1px,rgba(0,0,0,0.1) -2px 0px 1px 1px;
}
.SearchMain .SearchBody .Search_Result .Baike_Item .Baike_Img{
    float:left;
    width:40%;
    height:100%;
    text-align:center;  
    margin-top:2%;
}
.SearchMain .SearchBody .Search_Result .Baike_Item .Baike_Img img{
    width:90%;
    height:90%;
}
.SearchMain .SearchBody .Search_Result .Baike_Item .Baike_Info{/*百科详情框*/
    float:left;
    width:60%;
    height:100%;
    text-align:center;
    margin-top:2%;
}
.SearchMain .SearchBody .Search_Result .Baike_Item .Baike_Info i{
    font-size:14px;
    margin-left:5%;
}
.SearchMain .SearchBody .Search_Result .Baike_Item .Baike_Info p{
    margin:0;
    width:100%;
    height:65%;
    text-align:left;
    text-indent:28px;
    font-size:14px;
    text-overflow:ellipsis;
    overflow:hidden;
   display: -webkit-box;
 	-webkit-line-clamp: 3;
 	-webkit-box-orient: vertical;
}

.SearchMain .SearchBody .Search_Result .Activity_Item{/*活动结果项*/
    width:85%;
    height:100px;
    margin:0 auto 2%;
    overflow:hidden;
    box-shadow:rgba(0,0,0,0.1) 2px 1px 1px 1px,rgba(0,0,0,0.1) -2px 0px 1px 1px;
}
.SearchMain .SearchBody .Search_Result .Activity_Item .Activity_Img{
    float:left;
    width:40%;
    height:100%;
    text-align:center;  
    margin-top:0.8%;
}
.SearchMain .SearchBody .Search_Result .Activity_Item .Activity_Img img{
    width:90%;
    height:90%;
}
.SearchMain .SearchBody .Search_Result .Activity_Item  .Activity_Info{
    float:left;
    width:60%;
    height:100%;
    text-align:center;
    margin-top:2%;
}

.SearchMain .SearchBody .Search_Result .Tribune_Item{/*多肉社区结果项*/
    width:85%;
    height:100px;
    margin:0 auto 2%;
    overflow:hidden;
    box-shadow:rgba(0,0,0,0.1) 2px 1px 1px 1px,rgba(0,0,0,0.1) -2px 0px 1px 1px;
}
.SearchMain .SearchBody .Search_Result .Tribune_Img{
    float:left;
    width:80px;
    height:80px;
    text-align:center;  
    margin-left:2%;
    margin-top:2%;
    border-radius:40px;
}
.SearchMain .SearchBody .Search_Result .Tribune_Img img{
    width:100%;
    height:100%;
    border-radius:50%;
}
.SearchMain .SearchBody .Search_Result .Tribune_Info{
    float:left;
    width:70%;
    height:100%;
    text-align:center;
    margin-top:2%;
    margin-left:5%;
}
.SearchMain .SearchBody .Search_Result .Tribune_Info h3{
    margin:0;
    margin-bottom:3%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-text-overflow:ellipsis;
    text-align:center;
}
.SearchMain .SearchBody .Search_Result .Tribune_Info p{
    width:100%;
    height:40%;
    margin:0;
    text-align:left;
    text-indent:28px;
    font-size:14px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
 	-webkit-line-clamp: 2;
 	-webkit-box-orient: vertical;
}
.SearchMain .SearchBody .Search_Result .ShopMall_Item{/*商城结果项*/
    display:inline-block;
    width:20%;
    height:30%;
    overflow:hidden;
    text-align:center;
    margin-top:2%;
    margin-left:4%;
}
.SearchMain .SearchBody .Search_Result .ShopMall_Item .ShopMall_Img{
    width:100%;
    height:90%;
}
.SearchMain .SearchBody .Search_Result .ShopMall_Item .ShopMall_Img img{
    width:100%;
    height:100%;
}
.SearchMain .SearchBody .Search_Result .ShopMall_Item .ShopMall_Info{
    width:100%;
    height:10%;
    text-align:center;
}
.SearchMain .SearchBody .Search_Result .ShopMall_Item .ShopMall_Info span{
    color:red;
}
.SearchMain .SearchBody .Search_Result .ShopMall_Item .ShopMall_Info p{
    margin:0;
}

.ShopMall_Img .hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.ShopMall_Img .hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(232,232,232,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin-top:45%;
padding:7px 14px;
}
.ShopMall_Img .hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}
.ShopMall_Img .hovereffect a:hover{
    color:#fff;
}
.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.SearchMain .SearchBody .RecommandContent{/*推荐框*/
    float:left;
    width:25%;
    height:auto;
    margin-left:3%;
    /*border:1px solid rgba(0,0,0,0.2);*/
    box-shadow:rgba(0,0,0,0.1) 2px 1px 1px 1px,rgba(0,0,0,0.1) -2px 0px 1px 1px;
}
.SearchMain .SearchBody .RecommandContent p{
     margin-top:5%;
     margin-left:5%;
     margin-bottom:2%;
     font-size:18px;
     color:rgba(221,59,68,1);
 }
.SearchMain .SearchBody .RecommandContent .RecommandList{
    width:90%;
    height:auto;
    margin:0 auto;
    border-top:1px solid rgba(0,0,0,0.2);
}
.SearchMain .SearchBody .RecommandContent .RecommandList ul{
    margin-top:5%;
}
