body
    {
       /* background: #f9f9f9;*/
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        overflow-x: hidden;
    }

/* start hr */
hr
    {
        border: 1px solid #55acee;
        width: 100px;
        margin-top: 20px;
    }
/* end hr */

/* start h2 */
h2
    {
        font-size: 60px;
        text-align: center;
    }
/* end h2 */

/* start h4 */
h4
    {
        text-align: center;
        padding-bottom: 50px;
    }
/* end h4 */

/*start a*/
a{
    text-decoration: none;
    outline: none;
}
a:hover,a:link,a:visited,a:active{
    text-decoration: none;
    outline: none;
}
/*end a*/


.btn {
    background: transparent;
    border:none;
    border-radius: 10px;
    color: #ffffff;
	padding: 12px 22px;
    transition: all 0.4s ease-in-out;  
}
/* start wrap */
/*.wrap{
    width:100%;
    height:700px;
    background:linear-gradient(to buttom,rgba(0,0,0,0.7),#ffffff);
}*/

/* end wrap */


/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*z-index: 99999;*/
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }

.sk-spinner-rotating-plane .sk-spinner 
    {
         width: 30px;
        height: 30px;
        background-color: #55acee;         
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } 
}
/* end preloader */

/* start navigation */
.custom-navbar 
    {
        margin-bottom: 0;
        background-color: #fff;
        text-align: right;
    }
.custom-navbar .navbar-brand 
    {
        color: rgba(51,153,51,1);
        font-weight: bold;
        font-size: 28px;
    }
.custom-navbar .nav li a
     {
         color: #000;
         font-weight: 500;
         font-size: 18px;
         text-transform: uppercase;
          text-decoration: none;
        outline: none;
    }
.custom-navbar .nav li a:hover
    {
        background: transparent;
        color: rgba(51,153,51,1);
    }
.custom-navbar .nav li.active > a
    {
         background-color: transparent;
         color: rgba(51,153,51,1);
          text-decoration: none;
          outline: none;
    }
.custom-navbar .navbar-toggle
    {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar
    {
        background:rgba(0,255,0,0.7);
        border-color: transparent;
    }
@media(min-width:768px){
    .custom-navbar
         {
             padding: 20px 0;
            border-bottom: 0;
             background:#fff;
             transition: all 0.3s ease;
         }
    .custom-navbar.top-nav-collapse
         {
            padding: 0;
            box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
            background: #fff;
        }
}
/* end navigation */

/* start footer */
.div-footer{
    width: 100%;
    height:auto;
    /*border:2px solid red;*/
    position: relative;
    overflow: hidden;
    margin-top:30px;
    /*background:url('../images/荷塘.png') no-repeat;*/
    /*background-size:35%;*/
}
.div-footer .div-middle{
    background:#fff;
    /*border:2px solid red;*/
    width: 60%;
    height:80px;  
    margin-left:25%;
    overflow: hidden;
    border-radius:8px;
}
.div-middle ul{
    list-style: none;

}
  .div-middle .div-footer-img{
    text-align: left;
    }
.footer-wrap
    {
        width:100%;
        height:300px;
        margin:0 auto;
        /*border: 1px solid red;*/
        color: #000000;
        overflow: hidden;
    }
.footer-p {
    width: 100%;
    /*margin-top:20px;*/
  }
  .p1{
     width: 100%;
        margin-top:15px;
  }
  .p1 p{
    font-size: 15px;
    font-weight: 500;
    line-height:40px;  
   text-align: center;
   letter-spacing: 3px;
   }
  .p2-h5 {
    color:rgba(51,153,51,1);
    font-size:30px;
    font-weight:500;
    letter-spacing:3px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    }
    .p3{
        text-align: center;
    }
    .p3 span{ 
      text-align: center;
      margin-left: 15px;
     font-size: 15px;
     font-weight: 500;
     color:rgba(0,0,0,0.7);
    }
    /* end footer */

    /*用户头像信息框*/
.userinfobox a{
    background-color:transparent;
}

.userinfobox a:hover{
    background:initial;
}

div.index_loginbox{
    width:40px;
    height:40px;
    margin-left:50px;
    margin-top:5px;
}
div.index_loginbox:hover{
    cursor:pointer;
}
div.index_loginbox img{
    width:100%;
    height:100%;
    border-radius: 50%
}

.login_registerbox{
    position:absolute;
    float:left;
    width:400px;
    height:150px;
    /*background-color:red;*/
    display:none;
    background:transparent;
    /*overflow:hidden;*/
    z-index:1;

}
.login_registerbox .login_register{
    width:200px;
    height:100px;
    /*background-color:red;*/
    margin-top:-6%;
    margin-left:50px;
    text-align:center;
    z-index:2;
}
.login_registerbox .login_register a{
    color:#000;
}
.login_registerbox .login_register .a-link{  
     display:inline-block;
     margin-left:10px;
     margin-top:-10px;
     /*background-color:red;*/
     width:50px;
     height:40px;
     text-align:center;
     border:none; 
     text-decoration: none;
     outline: none;
     z-index:3;
}
   
.login_registerbox .login_register .a-link:hover{
     color:rgba(51,153,51,1);
 } 

.login_registerbox .login_register:active .a-link{
     border:none; 
     text-decoration: none;
     outline: none;
}

/*用户信息框*/
.login_registerbox .userinfo{
    width:220px;
    height:60px;
    margin-top:-10%;
    margin-left:85px;
    /*background-color:red;*/
    overflow:hidden;
    -webkit-text-overflow:ellipsis;
     text-align:left;
}
/*用户名*/
.login_registerbox .userinfo p{
    display:block;
    width:100%;
    height:40px;
    margin-left:10%;
    /*background:#000;*/
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
    font-family:'隶书';
}
.login_registerbox .userinfo p a{
    color:rgba(51,153,51,0.9);
    font-family:'隶书';
}
.login_registerbox .userinfo p a:hover{
    color:rgba(51,153,51,1);
}
.login_registerbox .userinfo span{
        width:40%;
        height:30px;
        display:block;
        /*background:#000;*/
        font-size: 14px;
        font-family:'隶书';
        margin-top:-18%;
         margin-left:10%;
    }
.login_registerbox .userinfo a{ 
      width:100%;
      height:30px; 
      display:block;
     font-family:'Microsoft YaHei';
     line-height:20px;
      /*background:#000;*/
      border:none; 
}
.login_registerbox .userinfo a i{
    cursor:pointer;
}
.login_registerbox .userinfo .a-button1{
     margin-top:-35%;
     margin-left:80%;
}
.login_registerbox .userinfo .a-button2{
      margin-top:-15%;
     margin-left:80%;
}
.zhuxiao{
    display:block;
    width:50px;
    height:50px;
    /*background-color:red;*/
    line-height:55px;
    margin-top:-20%;
    margin-left:84%;
    color:rgba(51,153,51,1);
    /*color:rgba(221,81,76,0.8);*/
}
.zhuxiao i{
    color:rgba(0,0,0,0.6);
    font-size:20px;
    transition:all ease-out 0.2s;
}
.zhuxiao:hover i{
   color:rgba(51,153,51,1);
   transition:all ease-in 0.2s;
}
/*新底部样式开始*/

/*.div-footer a{
    color:rgba(0,0,0,1);
}

.div-footer a:hover{
    color:rgba(51,153,51,1);
}

/*左边部分
.div-footer .div_left{
    float:left;
    width:35%;
    height:300px;
    border-top:1px solid rgba(51,153,51,0.2);
}
.div-footer .div_left .web_nav{
    float:left;
    width:40%;
    height:90%;
    margin-top:5%;
}
.div-footer .div_left .web_nav p{
    text-align:center;
    font-weight:bold;
    font-size:20px;
}
.div-footer .div_left .web_nav .web_nav_content,.friend_link_content{
    margin-left:30%;
}
.div-footer .div_left .web_nav .web_nav_content,.friend_link_content,.about_us_content span{
    line-height:40px;
}

.div-footer .div_left .friend_link{
    float:left;
    width:40%;
    height:90%;
    margin-top:5%;
    margin-left:10%;
}
.div-footer .div_left .friend_link p{
    text-align:center;
    font-weight:bold;
    font-size:20px
}

中间部分
.div-footer .div_middle{
    float:left;
    width:30%;
    height:300px;
    margin-left:2%;
    background:url('../images/卡通多肉.png') no-repeat;
    background-size:60%;
    background-position:center;
    text-align:center;
}
.div-footer .div_middle p{
    padding-top:50%;
}

右边部分
.div-footer .div_right{
    float:left;
    width:30%;
    height:300px;
    margin-left:3%;
    /*border-top:1px solid rgba(51,153,51,0.2);*/
/*}*/
.div-footer .div_right .about_us,.contact_us{
    float:left;
    width:40%;
    height:90%;
    margin-top:5%;
    margin-left:10%;
}
.div-footer .div_right .about_us p{
    font-weight:bold;
    font-size:20px
}
.div-footer .div_right .contact_us p{
    font-weight:bold;
    font-size:20px
}
.div-footer .div_right .contact_us .contact_us_content div{
    padding-top:10px;
}
.div-footer .div_right .contact_us .contact_us_content table{
    text-align:center;
    width:80%;
    height:200px;
}
.div-footer .div_right .contact_us .contact_us_content table .WeiXin:hover{
    cursor:pointer;
}
.div-footer .div_right .contact_us .contact_us_content .WeiXinQRCode{
    float:left;
    margin-top:38%;
    margin-left:-68%;
    display:none;
}
/*新版底部样式结束*/