.wrap-body {
    width:100%;
    min-width: 1139px;
    height: 100%;
    overflow: hidden;
    background:linear-gradient(to bottom,#ececec,#ffffff);
}
    .wrap-body .wrap-body-img {
        width: 1600px;
        height:420px;
        margin-bottom: -200px;
        background-image: url('../images/succulent-img/bj1.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        border-radius:3px;
    }
.wrap-body .wrap-contain{
    width:78%;
    height:auto;
    margin:0 auto;
   background:#ffffff;
   overflow:hidden;
   position: relative;
   border-radius:3px;
   /*border:1px solid red;*/
}
.wrap-body .wrap-contain .main-contain{
    float:left;
    display:inline-block;
    width:65%;
    height:1500px;
    margin-left:0;
    overflow:hidden; 
    
}


.wrap-contain .main-contain .wrap-introduce .wrap-introduce-title h1{
    margin-top:3%;
   margin-left:20px;
  display: inline;
  font-size: 34px;
  font-weight: 400;
}
.wrap-contain .main-contain .wrap-introduce .wrap-introduce-title h1 .small-add {
    display:inline-block;
    width:200px;
    height:30px;
    margin-left:20px;
    margin-top:-30px;
    /*border:1px solid blue;*/
    padding-top:0;
}
.wrap-contain .main-contain .wrap-introduce .wrap-introduce-title h1 .small-add .a-add{
     display:block;
    float:left;
    width:20px;
    height:30px;
    margin-left:10px;
    line-height:30px;  
    color:rgba(0,0,0,0.7);
    font-family:'Microsoft YaHei';
    letter-spacing:2px;
    font-size:20px; 
    font-weight:500;
    text-align:left;
    cursor:pointer;
    overflow:hidden;
    /*border:1px solid red;*/
}
.wrap-contain .main-contain .wrap-introduce .wrap-introduce-title h1 .small-add .a-add:hover{
    color:limegreen;
}
.wrap-contain .main-contain .wrap-introduce .wrap-introduce-title h1 .small-add #collect-num{
    display:block;
     float:left;
    width:50px;
    height:30px;
    margin-left:10px;
    line-height:30px;  
    /*border:1px solid red;*/
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-weight:500;
    font-size:15px;
    color:#000000;
    overflow:hidden;
}
.wrap-contain .main-contain .wrap-introduce .wrap-introduce-para{
font-size: 15px;
word-wrap: break-word;
color: #333;
margin-bottom: 15px;
text-indent: 2em;
line-height: 24px;
padding:5px 5px 5px 10px;
 }
.wrap-contain .main-contain .wrap-introduce .wrap-introduce-para p{
     font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:2px;
    color:rgba(0,0,0,0.9);
    line-height:20px;
}
.wrap-contain .main-contain .wrap-mulu{
    width:35%;
    height:180px;
    margin-left:20px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    overflow:hidden;
}
.wrap-contain .main-contain .wrap-mulu .wrap-mulu-left{
    width:25%;
    height:180px;
    float: left;
    background: #fbfbfb;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    overflow:hidden;
}
.wrap-contain .main-contain .wrap-mulu .wrap-mulu-left h2{
text-align: center;
font-size: 20px;
line-height:70px;
font-weight: 400;
}
.wrap-contain .main-contain .wrap-mulu .wrap-mulu-right{
 display: block;
float: left;
border-left: 1px solid #ebebeb;
overflow: hidden;
padding-top: 15px;
padding-bottom: 20px;
background-color: #fff;
}
.wrap-contain .main-contain .wrap-mulu .wrap-mulu-right ol{
    line-height:50px;
    font-size:15px;
    font-weight:500;
}
.wrap-contain .main-contain .wrap-mulu .wrap-mulu-right li{
    width:103%;
    cursor:pointer;
}
.wrap-contain .main-contain .wrap-yangzhi,
.wrap-contain .main-contain .wrap-yuanlin,
.wrap-contain .main-contain .wrap-tuce{
    width:100%;
    height:350px;
    /*border: 1px solid red;*/
    overflow:hidden;
    position:relative;
    margin-top:30px;
}

.wrap-contain .main-contain .wrap-yangzhi .wrap-yangzhi-title,
.wrap-contain .main-contain .wrap-yuanlin .wrap-yuanlin-title{
display: inline-block;
clear: both;
overflow: hidden;
border-left:15px solid #4F9CEE;
height:30px;
float:left;
margin-top:20px;
}
.wrap-contain .main-contain .wrap-yangzhi .wrap-yangzhi-title h2,
.wrap-contain .main-contain .wrap-yuanlin .wrap-yuanlin-title h2,
.wrap-contain .main-contain .wrap-tuce .wrap-tuce-title h2{
display: inline-block;
float:left;
font-size: 20px;
font-weight: 400;
color: #000;
position:absolute;
top:5px;
left:50px;
line-height:60px;
}
.wrap-contain .main-contain .wrap-yangzhi .wrap-yangzhi-title div,
.wrap-contain .main-contain .wrap-yuanlin .wrap-yuanlin-title div{
    width:80%;
    position:absolute;
    top:35px;
    left:140px;
    border-top:1px solid #ececec;
}
.wrap-contain .main-contain .wrap-tuce{
     border-bottom:2px solid #ececec;
}
.wrap-contain .main-contain .wrap-tuce .wrap-tuce-title{
    width:96.5%;
    height:50px;
    background:#ececec;
    border-bottom:2px solid #ececec;
}
.wrap-contain .main-contain .wrap-tuce .wrap-tuce-title h2{
   top:0px;
   line-height:50px;
}
.wrap-contain .main-contain .wrap-yangzhi .wrap-yangzhi-content,
.wrap-contain .main-contain .wrap-yuanlin .wrap-yuanlin-content,
.wrap-contain .main-contain .wrap-tuce .wrap-tuce-content{
    width:100%;
    margin-top:58px;
    height:auto;
    /*border:1px solid blue;*/
}

.wrap-contain .main-contain .wrap-tuce .wrap-tuce-content{
    margin-top:20px;
}
.wrap-contain .main-contain .wrap-yangzhi .wrap-yangzhi-content p,
.wrap-contain .main-contain .wrap-yuanlin .wrap-yuanlin-content p{
    margin-left:35px;
    font-family:'Microsoft Yahei';
    font-size:15px;
    font-weight:500;
    letter-spacing:2px;
    color:rgba(0,0,0,0.9);
    line-height:20px;
}

.wrap-body .share-contain{
    position:fixed;
    top:55%;
    left:85%;
    width:50px;
    height:200px;
    margin-left:12%;
    overflow:hidden;
    border-top:30px solid #4F9CEE;
    background:#fff;
}
 .wrap-body .share-contain ul{
     list-style:none;
     padding-left:0px;
 }
 .wrap-body .share-contain ul li{
     padding:10px 3px 10px 4px;
 }
  .wrap-body .share-contain ul li a{
      width:35px;
      height:35px;
  }
  .wrap-body .wrap-contain .side-contain{
   float:left;
    display:inline-block;
    width:35%;
    height:1500px;
    margin-left:0;
    overflow:hidden; 
    /*border:1px solid blue;*/
}
  .wrap-body .wrap-contain .side-contain .side-contain-img{
      width:100%;
      height:250px;
      /*border:1px solid red;*/
      margin-top:160px;
      margin-left:0;
      overflow:hidden;
  }
    .wrap-body .wrap-contain .side-contain .side-contain-img .img-photo{
      width:83.5%;
      height:240px;  
      margin:0 auto;
      border:5px solid #ececec;
      overflow:hidden;
  }
    .wrap-body .wrap-contain .side-contain .side-contain-img .img-photo img{
        margin:0 auto;
        margin-left:-5%;      
        transition:all 0.5s;
    }
     .wrap-body .wrap-contain .side-contain .side-contain-img .img-photo:hover img{
        transform:scale(1.05,1.05);
    }
   .wrap-body .wrap-contain .side-contain .side-contain-main{
      width:100%;
      height:1000px;
      /*border:1px solid red;*/
      margin-top:30px;
      overflow:hidden;
   }

  .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-similate,
  .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-well{
      width:100%;
      height:500px;
      /*border:1px solid red;*/
      margin-bottom:20px;
      overflow:hidden;
  }
 .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-similate .side-contain-main-similate-title,
  .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-well .side-contain-main-well-title{
    width:100%;
    height:30px;
    margin-left:0;
    background:#ececec;

 }
 .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-similate .side-contain-main-similate-contain,
 .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-well .side-contain-main-well-contain{
     height:440px;
     margin-top:20px;
     /*border:1px solid blue;*/
 }
  .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-similate .side-contain-main-similate-contain .side-contain-main-similate-contain-img,
   .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-well .side-contain-main-well-contain .side-contain-main-well-contain-img{
      margin-top:10px;
      height:130px;
      /*border:1px solid red;*/
  }
 .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-similate .side-contain-main-similate-contain .side-contain-main-similate-contain-img img,
    .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-well .side-contain-main-well-contain .side-contain-main-well-contain-img img{
     display:inline-block;
     margin:0 auto;
   border:5px solid #ececec;
 }
 .wrap-body .wrap-contain .side-contain .side-contain-main .img-span{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:2px;
    color:rgba(0,0,0,0.9);
    line-height:30px;
    padding:0px 0px 0px 16px;
 }
 .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-similate .side-contain-main-similate-title h1,
  .wrap-body .wrap-contain .side-contain .side-contain-main .side-contain-main-well .side-contain-main-well-title h1{
     font-size: 15px;
     font-weight: 400;
     color: #000;
     text-align:left;
    margin-top:8px;
    letter-spacing:1.5px;
 }
   
  