.myClass{
    transform:translateY(30px);
    color:rgba(0,0,0,0.7);
}
.body-wrap{
    width: 100%;
    /*background-image: url('../images/back.jpg');*/
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.succulent-wrap {
    display:block;
    width:80%;
    margin: 0 auto;
    height: 1400px;
    /*border:1px solid red;*/
    overflow: hidden;
    position:relative;
    z-index:99;
}
.succulent-wrap-top{
    width:100%;
    height:300px;
    /*border:1px solid blue;*/
    overflow:hidden;
}
.succulent-wrap-top .top-left{
    display:inline-block;
    float:left;
    margin-left:2%;
    width:20%;
    margin-top:5%;
    height:200px;
    /*border:2px solid blue;*/
    overflow:hidden;
    background-image:url('../images/succulent-img/k2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.succulent-wrap-top .top-middle{
    display:inline-block;
    float:left;
    width:55%;
    height:300px;
    /*border:2px solid blue;*/
    overflow:hidden;
}
.succulent-wrap-top .top-right{
    display:inline-block;
   float:left;
    /*margin-left:2%;*/
    width:20%;
    margin-top:5%;
    height:200px;
    /*border:2px solid blue;*/
    overflow:hidden;
    background-image:url('../images/succulent-img/k1.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.succulent_nav{
  width:100%;
  margin:0 auto;
  border:3px solid #47c9af;
  border-radius:30%;
   box-shadow: 0 3px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
   -o-box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.succulent_nav li{
	display: inline-block;
    margin-top:28%;
    margin-left:12.5% ;
    /*background:black;*/

}
/*.succulent_nav .activity{
      margin-left:100px;
}
.succulent_nav .users{
      margin-left:140px;
}*/

.tip{
	display: inline-block;
     font-size:1.3em;
	font-weight:600;
	color: rgba(0,0,0,0.6);
    padding: 0.15em 0.25em;
    position: relative;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}

.tip:hover{
	/*color: rgba(255,255,255,1);*/
   color: #47c9af;
}
.tip-content{
	position: absolute;
	z-index: 9999;
	width: 60px;
	height:60px;
	border-radius: 50%;
	background:#47c9af;
    left: 50%;
    margin-left:-30px;
    bottom: 100%;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    opacity: 0;
    -webkit-transition:all 0.5s;
     -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}

 .tip-effect-1 .tip-content i{
 	opacity: 0;
 	-webkit-transition:all 0.5s;
      -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
 }

.tip-content:after{
	display: block;
	content: "";
	width: 30px;
	height: 20px;
	background: url("../images/succulent-img/tooltip1.png") no-repeat center center;
	position: absolute;
	top:100%;
	left: 50%;
	margin: -8.75px 0 0 -15px;
}

.tip-effect-1 .tip-content{
 	-webkit-transform:translate3d(0,10px,0) rotate3d(1,1,1,45deg); /*translateY(10px)*/
    transform:translate3d(0,10px,0) rotate3d(1,1,1,45deg);
   /* 定义中心点,第一个参数是水平离左边，第二个参数是垂直离上边*/
    -webkit-transform-origin:center bottom;
    -moz-transform-origin:center bottom;
    -o-transform-origin:center bottom;
    transform-origin:center bottom;

 }
  .tip-effect-1 .tip-content i{
  	-webkit-transform:scale3d(0,0,1);
    -moz-transform:scale3d(0,0,1);
    -o-transform:scale3d(0,0,1);
  	transform:scale3d(0,0,1);
  }


  .tip-effect-2 .tip-content{
 	-webkit-transform:translate3d(0,20px,0); 
     -moz-transform:translate3d(0,20px,0);
     -o-transform:translate3d(0,20px,0);
    transform:translate3d(0,20px,0) ;
}

  .tip-effect-2 .tip-content i{
    -webkit-transform:scale3d(0,0,1);
     -moz-transform:scale3d(0,0,1);
      -o-transform:scale3d(0,0,1);
  	transform:scale3d(0,0,1);
  }

.tip-effect-3 .tip-content{
 	-webkit-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg); 
     -moz-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg); 
     -o-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg); 
    transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
   /* 定义中心点,第一个参数是水平离左边，第二个参数是垂直离上边*/
    -webkit-transform-origin:center bottom;
    -moz-transform-origin:center bottom;
    -o-transform-origin:center bottom;
     transform-origin:center bottom;
 }
  .tip-effect-3 .tip-content i{
  	-webkit-transform:scale3d(0,0,1);
      -moz-transform:scale3d(0,0,1);
      -o-transform:scale3d(0,0,1);
  	transform:scale3d(0,0,1);
  }

 .tip-effect-4 .tip-content{
 	-webkit-transform:translate3d(0,-20px,0); 
     -moz-transform:translate3d(0,-20px,0); 
     -o-transform:translate3d(0,-20px,0); 
    transform:translate3d(0,-20px,0) ;
}

  .tip-effect-4 .tip-content i{
  -webkit-transform:scale3d(0,0,1);
  -moz-transform:scale3d(0,0,1);
  -o-transform:scale3d(0,0,1);
  	transform:scale3d(0,0,1);
  }

  /*.tip-effect-5 .tip-content{
 	-webkit-transform:scale3d(0,0,1);
     -moz-transform:scale3d(0,0,1);
     -o-transform:scale3d(0,0,1);
 	transform:scale3d(0,0,1);
    -webkit-transform-origin:center bottom;
    -moz-transform-origin:center bottom;
    -o-transform-origin:center bottom;
    transform-origin:center bottom;
}

  .tip-effect-5 .tip-content i{
  	-webkit-transform:scale3d(0,0,1);
      -moz-transform:scale3d(0,0,1);
      -o-transform:scale3d(0,0,1);
  	transform:scale3d(0,0,1);
  }*/
 

  .tip:hover .tip-content,

  .tip:hover .tip-content i{
 	opacity: 1;
 	-webkit-transform:translate3d(0,0,0) rotate3d(1,1,1,0deg) scale3d(1,1,1);
     -moz-transform:translate3d(0,0,0) rotate3d(1,1,1,0deg) scale3d(1,1,1);
     -o-transform:translate3d(0,0,0) rotate3d(1,1,1,0deg) scale3d(1,1,1);
    transform:translate3d(0,0,0) rotate3d(1,1,1,0deg) scale3d(1,1,1);
 }

.succulent-wrap-top-introduce{
    width:60%;
    height:150px;
    margin:0 auto;
    margin-top:400px;
    /*border:1px solid red;*/
    overflow:hidden;
}
.succulent-wrap-top-introduce ul{
     list-style:none;
     overflow:hidden;
     padding:0px;
}
.succulent-wrap-top-introduce ul li{
    float:left;
    /*border:1px solid blue;*/
    margin-top:20px;
    height:130px;
    overflow:hidden;
    /*background:red;*/
}
.introduce-contain{
    width:80%;
    height:auto;
    margin:0 15px 0 15px;
    background:#ffffff;
    border-radius:100px;
}

.introduce-contain-describe{
   display:block;
   /*border:1px solid red;*/
   height:50px;
   overflow:hidden;
   text-align:center;
}
.a-describe{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:20px;
    font-weight:500;
    line-height:60px;
    color:rgba(0,0,0,0.7);
    transition:all 0.2s;
    letter-spacing:2px;
}
.a-describe:hover{
  color:rgba(51,153,51,1);
}
.img-describe{
   display:block;
   margin:0 auto;
}
.introduce-contain-describe span{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
    line-height:40px;
    color:rgba(0,0,0,0.5);
    padding-left:30px;
}

.label{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:18px;
    font-weight:500;
    line-height:40px;
    color:rgba(0,0,0,0.5);
    
}
.wrap-middle{
    width:70%;
    height:60px;
    /*border:1px solid red;*/
    position:absolute;
    z-index:9990;
}
.middle-nav{
    position: absolute;
    height:60px;
    background:#fff;
    z-index:9999;
}

#succulent-wrap-bottom-left{
    float:left;
    width:70%;
    height:980px;
    margin-top:50px;
    /*border:1px solid red;*/
    overflow:hidden;
}
.succulent-wrap-left{
    float:left;
    width:100%;
    height:100%;
    /*border:1px solid red;*/
    overflow:hidden;
}
.succulent-wrap-left-img{
    /*border:1px solid blue;*/
    height:940px;
    overflow:hidden;
    margin:0 auto;
    
}
.succulent-wrap-left-img ul{
    list-style:none;
    overflow:hidden;
    padding:0px;
    margin-top:10px;
}
.div-row{
    float:left;
    /*border:1px solid black;*/
    height:220px;
    margin-top:10px;
    overflow:hidden;
    border-bottom:2px solid #ececec;
}
.succulent-name{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
    line-height:40px;
    color:rgba(0,0,0,1);
}
.a-img{
    float:left;
    border: 2px solid #ececec;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   -o-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    /*border:1px solid blue;*/
    overflow:hidden;
}
.a-img img{
    position:relative;
    height:210px;
    position: relative;
    background:transparent;
    transition:all 0.5s;
}
.a-img img:hover{
    transform:scale(1.2,1.2);
}
.succulent-describe{
    float:left;
    width:65%;
    height:220px;
    margin-top:5px;
    /*border:1px solid black;*/
    overflow:hidden;
}
.succulent-name{
    display:block;
    width:100px;
    margin-left:20px;
}
.succulent-feature{
    display:block;
    width:90%;
    height:100px;
    margin-left:20px;
    position:relative;
    line-height:1.4em;
    height:4.2em;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:1px;
    line-height:20px;
    color:rgba(0,0,0,0.8);
    overflow:hidden;
}
.succulent-feature::after{
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
    background:url('../images/ellipsis_bg.png') repeat-y;
}
.succulent-span{
    display:block;
    width:100%;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    line-height:20px;
    color:rgba(0,0,0,0.75);
    margin-left:20px;
}
.div-page{
   width:400px;
   height:40px;
   /*border:1px solid red;*/
   overflow:hidden;
}
.span-page{
    margin:0 auto;
    margin-top:-20px; 
}
.succulent-wrap-bottom-right{
    float:left;
    width:30%;
    height:990px;
    margin-top:5px;
    /*border:1px solid red;*/
}
.succulent-wrap-bottom-right-top{
    width:100%;
    height:400px;  
    position:relative;
    z-index:1;
    /*border:1px solid blue;*/
}
.succulent-wrap-bottom-right-top-title{
    width:100%;
    height:40px;
    border-left:4px solid #0094ff;
}
.title-h3{
    margin-left:15px;
    background:#ececec;  
    height:38px;
}
.succulent-wrap-bottom-right-top-title .title-h3 .div-dropdown{
    display:inline-block; 
    margin-top:0;
    height:40px;
}
.a-describe{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:1px;
    line-height:20px;
    color:rgba(0,0,0,0.8);
}
.a-describe:focus{
    outline:none;
    background-color:transparent;
    color:forestgreen;
}

#succulent-wrap-bottom-right-top-content{
    width:100%;
    height:320px;
    /*border:1px solid yellow;*/
    overflow:hidden;  
    position:absolute; 
    z-index:2;
}
#succulent-wrap-bottom-right-top-content p{
    display:block;
    margin-top:10px;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    line-height:22px;
}
.succulent-wrap-bottom-right-middle{
    width:100%;
    height:370px;  
    margin-top:-20px;
    /*border:1px solid red;*/
}
 .succulent-wrap-bottom-right-middle .question {
        width:100%;
        height:10%;
        margin:0 auto;
        /*border:1px solid blue;*/
        overflow: hidden;
        position: relative;
    }

        .succulent-wrap-bottom-right-middle .question h4， .wrap .question small {
            font-weight: 500;
            letter-spacing: 3px;
        }

       .succulent-wrap-bottom-right-middle .question h4 {
            width: 100%;
            height: 50px;
            margin:0 auto;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 3px;
            text-align: center;
        }

        .succulent-wrap-bottom-right-middle .question small {
            font-size: 15px;
            opacity: 0.6;
        }
          .succulent-wrap-bottom-right-middle #duorou {
        width:100%;
        height:90%;
        /*border:1px solid blue;*/
        overflow: hidden;
        position: relative;
        margin:0 auto;
    }

        .succulent-wrap-bottom-right-middle #duorou li {
            width:100%;
            height:20%;
            /*border:1px solid black;*/
            margin-top: 20px;
            margin-left:-5%;
            overflow: hidden;
        }
        .succulent-wrap-bottom-right-middle #duorou li img,
        .succulent-wrap-bottom-right-middle #duorou li span,
        .succulent-wrap-bottom-right-middle #duorou li div
        {
                display:inline-block;
                float:left;
                margin-left: 20px;
                margin-top: 10px;
                overflow:hidden;
            }
         .succulent-wrap-bottom-right-middle #duorou li img {
                margin-top: 0px;
                margin-left:5px;
                border-radius: 2px;
                
            }
          .succulent-wrap-bottom-right-middle #duorou li span {
                margin-left:20px;
                font-size: 15px;
                font-weight: 500;
            }
           .succulent-wrap-bottom-right-middle #duorou li .piaoshu:after {
                content: "票";
                margin-top: -20px;
                margin-left:5px;
            }
            .succulent-wrap-bottom-right-middle #duorou ul li div {
            height: 25px;
            border-radius:2px;
             /*border:1px solid red;*/
        }
           .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(1) .div-width {
            background: #ffd800;
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(2) .div-width {
            background: #b6ff00;
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(3) .div-width {
            background: #0094ff;
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(4) .div-width {
            background: #ff006e;
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(5) .div-width {
            background: #b200ff;
        }

        .succulent-wrap-bottom-right-middle #duorou li .btn1,
        .succulent-wrap-bottom-right-middle #duorou li .btn2 {
            display:block;
            float:left;
            margin-left:-100px;
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
            color: #000000;
            opacity: 0.9;
            border: none;
            height: 25px;
            position: absolute;
            background-color: antiquewhite;
            border-radius: 2px;
            overflow:hidden;
        }

        .succulent-wrap-bottom-right-middle #duorou ul li .btn1 {
            width: 40px;
            text-align: center; 
            left:350px;
        }

        .succulent-wrap-bottom-right-middle #duorou ul li .btn2 {
            width: 40px;
            text-align: center; 
            left: 400px;
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(1) .btn1 {
            top:30px;
           
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(1) .btn2 {
            top:30px;
          
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(2) .btn1 {
            top: 90px;
          
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(2) .btn2 {
            top: 90px;

        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(3) .btn1 {
            top:150px;
       
        }

       .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(3) .btn2 {
            top: 150px;
         
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(4) .btn1 {
            top: 210px;
         
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(4) .btn2 {
            top: 210px;

        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(5) .btn1 {
            top: 275px;
   
        }

        .succulent-wrap-bottom-right-middle #duorou ul li:nth-of-type(5) .btn2 {
            top: 275px;

        }
        
.succulent-wrap-bottom-right-bottom{
    width:100%;
    height:250px;  
    margin-top:10px;
    /*border:1px solid black;*/
    /*overflow:hidden;*/
}
.succulent-wrap-bottom-right-bottom-title{
    width:100%;
    height:30px;
    border-left:4px solid #0094ff;
    overflow:hidden;  
}
.succulent-wrap-bottom-right-bottom-title .title-h3{
    margin-left:15px;
    background:#ececec;  
    height:30px;
}
.succulent-wrap-bottom-right-bottom-title .title-h3  h3{ 
    padding-left:10px;
   font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:2px;
    line-height:30px;

}
.succulent-wrap-bottom-right-bottom-content{
    width:100%;
    height:430px;
    margin-top:10px;
    cursor:pointer;
    /*border:1px solid yellow;*/
    /*overflow:hidden;*/  
}
.succulent-wrap-bottom-right-bottom-content p{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    line-height:30px;
}
.succulent-wrap-bottom-right-bottom-content p i{
    color:forestgreen;
    font-size:15px;
    transition:all 0.5s;
}
.succulent-wrap-bottom-right-bottom-content p span:hover i{
    transform:scale(1.2,1.2);
}



