.myClass{
    transform:translateY(30px);
    color:rgba(0,0,0,0.7);
}
.body-wrap{
    width: 100%;
    /*background-image: url('../images/back.jpg');*/
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.succulent-wrap {
    display:block;
    width:80%;
    margin: 0 auto;
    height: 1400px;
    /*border:1px solid red;*/
    overflow: hidden;
    position:relative;
    z-index:99;
}
.succulent-wrap-top{
    width:100%;
    height:300px;
    /*border:1px solid blue;*/
    overflow:hidden;
    background-image:url('../images/succulent-img/timg (2).jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.succulent-wrap-top-introduce{
    width:60%;
    height:150px;
    margin:0 auto;
    margin-top:400px;
    /*border:1px solid red;*/
    overflow:hidden;
}
.succulent-wrap-top-introduce ul{
     list-style:none;
     overflow:hidden;
     padding:0px;
}
.succulent-wrap-top-introduce ul li{
    float:left;
    /*border:1px solid blue;*/
    margin-top:20px;
    height:130px;
    overflow:hidden;
    /*background:red;*/
}
.introduce-contain{
    width:80%;
    height:auto;
    margin:0 15px 0 15px;
    background:#ffffff;
    border-radius:100px;
}

.introduce-contain-describe{
   display:block;
   /*border:1px solid red;*/
   height:50px;
   overflow:hidden;
   text-align:center;
}
.a-describe{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:20px;
    font-weight:500;
    line-height:60px;
    color:rgba(0,0,0,0.7);
    transition:all 0.2s;
    letter-spacing:2px;
}
.a-describe:hover{
  color:rgba(51,153,51,1);
}
.img-describe{
   display:block;
   margin:0 auto;
}
.introduce-contain-describe span{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
    line-height:40px;
    color:rgba(0,0,0,0.5);
    padding-left:30px;
}

.label{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:18px;
    font-weight:500;
    line-height:40px;
    color:rgba(0,0,0,0.5);
    
}
.wrap-middle{
    width:70%;
    height:60px;
    /*border:1px solid red;*/
    position:absolute;
    z-index:9990;
}
.middle-nav{
    position: absolute;
    height:60px;
    background:#fff;
    z-index:9999;
}

#succulent-wrap-bottom-left{
    float:left;
    width:70%;
    height:980px;
    margin-top:50px;
    /*border:1px solid red;*/
    overflow:hidden;
}
.succulent-wrap-left{
    float:left;
    width:100%;
    height:100%;
    /*border:1px solid red;*/
    overflow:hidden;
}
.succulent-wrap-left-img{
    /*border:1px solid blue;*/
    height:940px;
    overflow:hidden;
    margin:0 auto;
    
}
.succulent-wrap-left-img ul{
    list-style:none;
    overflow:hidden;
    padding:0px;
    margin-top:10px;
}
.div-row{
    float:left;
    /*border:1px solid black;*/
    height:220px;
    margin-top:10px;
    overflow:hidden;
    border-bottom:2px solid #ececec;
}
.succulent-name{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:18px;
    font-weight:500;
    letter-spacing:2px;
    line-height:40px;
    color:rgba(0,0,0,1);
}
.a-img{
    float:left;
    border: 2px solid #ececec;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
   -o-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    /*border:1px solid blue;*/
    overflow:hidden;
}
.a-img img{
    position:relative;
    height:210px;
    position: relative;
    background:transparent;
    transition:all 0.5s;
}
.a-img img:hover{
    transform:scale(1.2,1.2);
}
.succulent-describe{
    float:left;
    width:65%;
    height:220px;
    margin-top:5px;
    /*border:1px solid black;*/
    overflow:hidden;
}
.succulent-name{
    display:block;
    width:100px;
    margin-left:20px;
}
.succulent-feature{
    display:block;
    width:90%;
    height:100px;
    margin-left:20px;
    position:relative;
    line-height:1.4em;
    height:4.2em;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:1px;
    line-height:20px;
    color:rgba(0,0,0,0.8);
    overflow:hidden;
}
.succulent-feature::after{
    content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
    background:url('../images/ellipsis_bg.png') repeat-y;
}
.succulent-span{
    display:block;
    width:100%;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    line-height:20px;
    color:rgba(0,0,0,0.75);
    margin-left:20px;
}
.div-page{
   width:400px;
   height:40px;
   /*border:1px solid red;*/
   overflow:hidden;
}
.span-page{
    margin:0 auto;
    margin-top:-20px; 
}
.succulent-wrap-bottom-right{
    float:left;
    width:30%;
    height:990px;
    margin-top:5px;
    /*border:1px solid red;*/
}
.succulent-wrap-bottom-right-top{
    width:100%;
    height:500px;  
    position:relative;
    z-index:1;
    /*border:1px solid blue;*/
}
.succulent-wrap-bottom-right-top-title{
    width:100%;
    height:40px;
    border-left:4px solid #0094ff;
}
.title-h3{
    margin-left:15px;
    background:#ececec;  
    height:38px;
}
.succulent-wrap-bottom-right-top-title .title-h3 .div-dropdown{
    display:inline-block; 
    margin-top:0;
    height:40px;
}
.a-describe{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:1px;
    line-height:20px;
    color:rgba(0,0,0,0.8);
}
.a-describe:focus{
    outline:none;
    background-color:transparent;
    color:forestgreen;
}

#succulent-wrap-bottom-right-top-content{
    width:100%;
    height:480px;
    /*border:1px solid yellow;*/
    overflow:hidden;  
    position:absolute; 
    z-index:2;
}
#succulent-wrap-bottom-right-top-content p{
    display:block;
    margin-top:10px;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    line-height:22px;
}
.succulent-wrap-bottom-right-bottom{
    width:100%;
    height:450px;  
    margin-top:50px;
    /*border:1px solid black;*/
    /*overflow:hidden;*/
}
.succulent-wrap-bottom-right-bottom-title{
    width:100%;
    height:30px;
    border-left:4px solid #0094ff;
    overflow:hidden;  
}
.succulent-wrap-bottom-right-bottom-title .title-h3{
    margin-left:15px;
    background:#ececec;  
    height:30px;
}
.succulent-wrap-bottom-right-bottom-title .title-h3  h3{ 
    padding-left:10px;
   font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    font-weight:500;
    letter-spacing:2px;
    line-height:30px;

}
.succulent-wrap-bottom-right-bottom-content{
    width:100%;
    height:430px;
    margin-top:10px;
    cursor:pointer;
    /*border:1px solid yellow;*/
    /*overflow:hidden;*/  
}
.succulent-wrap-bottom-right-bottom-content p{
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
    font-size:15px;
    line-height:30px;
}
.succulent-wrap-bottom-right-bottom-content p i{
    color:forestgreen;
    font-size:15px;
    transition:all 0.5s;
}
.succulent-wrap-bottom-right-bottom-content p span:hover i{
    transform:scale(1.2,1.2);
}


