.main-contain {
    display: block;
    width:100%;
    height:1200px;
    /*border:1px solid red;*/
    margin:0 auto;
    margin-top:100px;
    overflow:hidden;
    background:#f7f8fa;
    font-family:Microsoft YaHei;
}
.main-contain-top{
    position: relative;
    width:70%;
    height:380px;
    margin:0 auto;
    /*border:1px solid blue;*/
}
.user-back {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 150px;
    /*background:linear-gradient(to bottom,rgba(131,139,131,0.6),rgba(131,139,131,0.2));*/
    overflow: hidden;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    overflow: hidden;
    background: url('../images/UserCenterBack2.png') no-repeat;
    background-position:center;
    background-size:100% 100%;
}
.user-back .back-img{
    display:block;
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    width:100%;
    height:150px;
    /*border:1px solid red;*/
}
/*.user-back-inner {
    position: relative;
    z-index: 2;
    float: right;
    padding: 24px;
    margin-top:30px;
    overflow:hidden;
}
.user-back-inner-button{
    display: inline-block;
    padding:0 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
}
.user-back-inner-button i,
.user-back-inner-button span{
   display: inline-block;
   font-size: 15px;
   color:#fff;
}
.user-back-inner-button span{
    margin-left:5px;
}
.user-back-inner:hover .user-back-inner-button{
     border:0.05px solid rgba(0,0,0,0.5);
     box-shadow:0px 0px 0px 2px rgba(193,205,205,0.5);
}*/
.user-info{
    width: 100%;
    height:355px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
    /*border:1px solid blue;*/
    overflow:hidden;
}
.user-info-section{
    display:inline-block;
    position: relative;
    width:15%;
    height:200px;
    margin-top:100px;
    border-radius: 8px;
    z-index:90;
    background: #fff;
    box-sizing: border-box;
    /*border:1px solid red;*/
    overflow:hidden;
   
}
.user-info-section-photo {
    width:165px;
    height:165px;
    display: inline-block;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 8px;
    cursor:pointer;
}
.user-info-section-photo-hidden{
    position: absolute;
    width:160px;
    height:160px;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;  
    cursor:pointer;
    overflow:hidden;
}
.user-info-section-photo-hidden-contain{  
    position: absolute;
    width:158px;
    height:158px;
    top:2px;
    right:2px;
    bottom:2px;
    left:2px;
    background:#efefef;
    opacity:0;  
    transition:all 0.35s ease-in;
    cursor:pointer;
     z-index:2;
     overflow:hidden;
}
.user-info-section-photo-hidden-contain:hover{
     opacity:0.5;  
}
.user-info-section-photo-hidden-contain-text{
    width:80px;
    height:60px;
    margin-left:26%;
    margin-top:30%;
    border-radius:10px;
    text-align:center;
    /*border: 1px solid red;*/
}
.user-info-section-photo-hidden-contain-text i,
.user-info-section-photo-hidden-contain-text span{
    font-size: 14px;
    margin-top:10px;
    display:block;
}
.user-info-section-photo-hidden-contain-text i{
     font-size:20px;
}
.user-info-details{
    display:inline-block;
    width:280px;
    height:200px;
    position:absolute;
    top:40%;
    left:18%;
    line-height:25px;
    padding-left:10px;
    /*border:1px solid red;*/
    overflow:hidden;
}
.user-info-details .span-title{
    font-family:'Microsoft YaHei';
    font-size:25px;
    font-weight:500;
    text-shadow:1px 1px 1px rgba(0,0,0,0.3);
    line-height:50px;
    letter-spacing:2px;
    color:rgba(0,0,0,0.8);
    /*border:1px solid red;*/
}

.user-info-details span{
    display:block;
    cursor:pointer;
}
.user-info-details span i{
    color:burlywood;
    transition:all 0.35s;
}
.user-info-details span:hover i{
    transform:scale(1.2,1.2);
}
.user-info-details p{
    cursor:pointer;
    margin-top:5px;
    /*border:1px solid red;*/
}
.user-info-go{
    display:inline-block;
    width:120px;
    height:50px;
    position:absolute;
    top:78%;
    left:85%;
    /*border:1px solid red;*/
}
.user-info-go-bottom{
    border:1.5px solid rgba(30,144,255,1);
    height:40px;
    border-radius:5px;
    text-align:center;
    line-height:40px;
    letter-spacing:2px;
    cursor:pointer;
    color:rgba(30,144,255,1);
}
.user-info-go-bottom:hover{
    border:0.5px solid rgba(30,144,255,1);
     box-shadow:0px 0px 0px 2px rgba(30,144,255,0.3); 
}
.main-contain-bottom {
    width: 70%;
    height: auto;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    margin: 0 auto;
    /*border: 1px solid red;*/
}
.main-contain-bottom-dao{
    width:60%;
    height:50px;
    background:#fff;
    overflow:hidden;
    margin-left:0;
}
.main-contain-bottom-dao ul,
.main-contain-bottom-details ul{
    list-style:none;
    padding-left:0px;
    overflow:hidden;
}
.main-contain-bottom-dao ul li,
.main-contain-bottom-details ul li{
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.main-contain-bottom-dao ul li a{
    display:inline-block;
    height:49px;
    line-height:48px;
    font-size:17px;
    font-weight:500;
    color:#333;
    letter-spacing:2px;
    /*border:2px solid rgba(30,144,255,1);*/
}
.main-contain-bottom-dao ul a:hover{
    border-bottom:2px solid rgba(30,144,255,1);
}
.main-contain-bottom-details{
    float:left;
    width:55%;
    height:500px;
    margin-left:10px;
    overflow:hidden;
    /*border:1px solid red;*/
}
.main-contain-bottom-details li{
     border-bottom: 1px solid #ebeef5;
}
.main-contain-bottom-details h3{
    line-height:48px;
    font-size:15px;
    font-weight:700;
    color:#333;
    letter-spacing:1px;
}
.main-contain-bottom-details a{
    line-height:50px;
    font-size:15px;
    font-weight:500;
    color:#333;
}
.main-contain-bottom-details span{
    font-size:12px;
    font-weight:500;
    color:#333;
}
.mengsucculent{
    float:left;
    width:40%;
    height:auto;
    margin-top:-50px;
    margin-left:20px;
    /*border:1px solid blue;*/
}
.xiaomeng{
    width:100%;
    height:50px; 
    margin-left:20px;
    /*border:1px solid blue;*/
}
.xiaomeng h2{
    text-align:center;
    line-height:50px;
}
#main-contain-bottom-succulent{
    width:100%;
    height:auto;
    margin-top:80px;
    overflow:hidden;
    /*border:1px solid red;*/
}
