
@{
    ViewBag.Title = "BoardIndexS";
    Layout = "~/Views/Shared/Tribune/TribuneView.cshtml";
}

<link href="~/css/Tribune/TribuneBoardS.css" rel="stylesheet" />

<section id="bodyer">
    <div id="bodyer" style="background-color:aquamarine;">
    </div>
</section>

