
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>板块</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="CSS/bootstrap.min.css" rel="stylesheet"> -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Tribune/TribuneBoard.css" rel="stylesheet" />
</head>
<body>
    <!-- 导航栏 -->
    <section id="header">
        <div id="header" class="text-center">
            <div id="header-a">
                <!-- 顶部搜索框 -->
                <div id="header-a-left">
                    <div id="header-a-left-search" class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="搜点什么吧">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
                <!-- 顶部搜索框结束 -->
                <!-- 顶部链接 -->
                <div id="header-a-right">
                    <div id="homebox">
                        <a href="#">首页</a>
                    </div>
                    <div id="homebox2">
                        <a href="#">论坛</a>
                    </div>
                    <div id="signin">
                        <span id="loginin"><a href="#">登录</a></span>
                    </div>
                    <div id="signout">
                        <span id="loginout"><a href="#">注册</a></span>
                    </div>
                </div>
                <!-- 顶部链接结束 -->
            </div>
        </div>
    </section>
    <!-- 导航栏结束 -->
    <!-- 顶部 -->
    <section id="top">
        <div id="topA">
            <div id="topA-logo"><img src="~/images/Tribune/web/testlogo.png" /></div>
            <div id="topA-right"></div>
        </div>
    </section>
    <!-- 顶部结束 -->
    <!-- 主体 -->
    <section id="bodyer">
        <div id="bodyer">
            <div id="bodyer-A1">
                <div>
                    <a href="#"> 多肉网 </a>
                    <em>&rsaquo;</em>
                    <a href="#"> 论坛 </a>
                    <em>&rsaquo;</em>
                    <a href="#"> 论坛公告 </a>
                    <em>&rsaquo;</em>
                    <a href="#"> ［论坛公告］ </a>
                </div>
            </div>
            <div id="bodyer-A2">
                <div id="A2-left">
                    <a>
                        <a href="#"> ［论坛公告］ </a>
                        <span>
                            今日:
                            <strong>2</strong>
                            <b>&nbsp;</b>
                            <span>|</span>
                            <b>&nbsp;</b>
                            主题:
                            <strong>72181</strong>
                            <b>&nbsp;</b>
                            <span>|</span>
                            <b>&nbsp;</b>
                            排名:
                            <strong title="上次排名:2">2</strong>
                        </span>
                    </a>
                </div>
                <div id="A2-right">
                </div>
            </div>
            <div id="bodyer-A3">
                <div id="A3-left">
                    <button id="A3-btn" class="btn">我要发帖</button>
                </div>
                <div id="A3-right">
                </div>
            </div>
            <div id="bodyer-A4">
                <div id="A4-Style">
                    <div class="list-A">
                    </div>
                    <div class="list-B">
                    </div>
                    <div class="list-C">
                        <p class="text-center">时间</p>
                    </div>
                    <div class="list-D">
                        <p class="text-center">作者</p>
                    </div>
                    <div class="list-E">
                        <p class="text-center">评论</p>
                    </div>
                </div>
            </div>
            <div id="bodyer-A5">
                <div class="A5-list">
                    <div class="list-A">
                        <img src="~/images/Tribune/web/huodong.jpg" class="list-A-Img" />
                    </div>
                    <div class="list-B">
                        <a href="#">你们啊！有一个好处！就是跑的比西方记者快</a>
                    </div>
                    <div class="list-C">
                        <p class="text-center">2017-5-3</p>
                    </div>
                    <div class="list-D">
                        <p class="text-center">江泽民</p>
                    </div>
                    <div class="list-E">
                        <p class="text-center">999</p>
                    </div>
                </div>
                <div class="A5-list">
                    <div class="list-A">
                        <img src="~/images/Tribune/web/kankan.jpg" class="list-A-Img" />
                    </div>
                    <div class="list-B">
                        <a href="#">主席批评的是啊！</a>
                    </div>
                    <div class="list-C">
                        <p class="text-center">2017-5-3</p>
                    </div>
                    <div class="list-D">
                        <p class="text-center">香港记者</p>
                    </div>
                    <div class="list-E">
                        <p class="text-center">666</p>
                    </div>
                </div>
                <div class="A5-list">
                    <div class="list-A">
                        <img src="~/images/Tribune/web/huodong.jpg" class="list-A-Img" />
                    </div>
                    <div class="list-B">
                        <a href="#">你们啊！还要学习一个</a>
                    </div>
                    <div class="list-C">
                        <p class="text-center">2017-5-3</p>
                    </div>
                    <div class="list-D">
                        <p class="text-center">江泽民</p>
                    </div>
                    <div class="list-E">
                        <p class="text-center">999</p>
                    </div>
                </div>
                <div class="A5-list">
                    <div class="list-A">
                        <img src="~/images/Tribune/web/kankan.jpg" class="list-A-Img"/>
                    </div>
                    <div class="list-B">
                        <a href="#">是是是！是是是！是是是！是是是！是是是！是是是！是是是！是是是！</a>
                    </div>
                    <div class="list-C">
                        <p class="text-center">2017-5-3</p>
                    </div>
                    <div class="list-D">
                        <p class="text-center">香港记者</p>
                    </div>
                    <div class="list-E">
                        <p class="text-center">999</p>
                    </div>
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
                <div class="A5-list">
                </div>
            </div>
            <div id="bodyer-A6">
                <div id="A6-Style">
                </div>
            </div>
        </div>
    </section>
    <!-- 主体结束 -->
    <!-- 底部 -->
    <section id="footer">
        <div id="footer">
            <div id="footer-a" class="text-right">
                <div id="footer-aa">
                    <a href="#">校园多肉网</a>
                    ( <a href="//www.miitbeian.gov.cn/" target=_blank>黑ICP备99999999号-0</a> )
                </div>
                <div id="footer-bb">
                    <p>
                        Powered by <a href="//www.discuz.net" target=_blank>Discuz!</a> <em>X3.2</em>
                        &copy; 2001-2013 <a href="//www.comsenz.com" target=_blank>Comsenz Inc.</a>
                    </p>
                </div>
                <div id="footer-cc">
                    <p class=xs0>
                        GMT+8, 2017-4-17 15:29
                        <span id=debuginfo>
                            , Processed in 0.071015 second(s), 17 queries
                            , Gzip On.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- 底部结束 -->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/Tribune/bootstrap.min.js"></script>
</body>
</html>
