@model IEnumerable< Model.Goods>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tuijian</title>
    <link type="image/x-icon" href="~/images/多肉项目Logo.png" rel="icon" />
    <style>
        .Tuijian{
            width:100%;
        }
         .left{
        width:20%;
        margin-top:20px;
        float:left;
        position:absolute;
    }
    .left .left-title{
        height:40px;
        width:100%;
        text-align:left;
    }
    .left-title p{
        font-family:'Microsoft Himalaya';
        font-size:20px;
        margin-left:5%;
    }
    .left-image{
        width:100%;
    }
    .left-image ul{
        width:100%;
    }
    .left-image ul li{
        margin-top:10px;
        width:90%;
        margin-left:5%;
        height:220px;
        text-align:center;
        cursor:pointer;
    }
    .left-image ul li img{
        width:100%;
        height:185px;
        background-size:cover;
    }
    .left-image ul li a:nth-child(2){
        width:90%;
        margin-left:5%;
        height:35px;
        text-align:center;
        text-decoration:none;
        color:black;
    }
    .left-image ul li a:nth-child(2):hover{
        color:#339933;
    }
    </style>
</head>
<body>
    <div class="Tuijian"> 
        <div class="left">
            <div class="left-title"><p>爆款推荐</p></div>
            <hr />
            <div class="left-image">
                <ul>
                    @foreach(var p in Model)
                    {
                    <li>
                        <a href="@Url.Action("GoodsDetail","Goods",new { goodid=p.GoodsID})"> <img src="@p.GoodsPhoto" /></a>
                        <a  href="@Url.Action("GoodsDetail","Goods",new { goodid=p.GoodsID})">@p.GoodsName</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
